body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(180deg,#cfefff,#eaf8ff);
}

.contenedor{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.tarjeta{
    background:white;
    width:100%;
    max-width:380px;
    border-radius:25px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    text-align:center;
}

.osito{
    font-size:70px;
    margin-bottom:15px;
}

h1{
    color:#4aa3ff;
    margin:0;
}

h2{
    color:#666;
    margin-top:8px;
}

.frase{
    color:#777;
    margin:20px 0;
    font-style:italic;
}

button{
    width:100%;
    margin-top:12px;
    padding:16px;
    border:none;
    border-radius:18px;
    background:#70c5ff;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#4aa3ff;
    transform:scale(1.02);
}
.progreso{
margin-top:25px;
}

.barra{
width:100%;
height:18px;
background:#d9eefb;
border-radius:20px;
overflow:hidden;
}

#avance{
height:100%;
width:0%;
background:#58b7ff;
transition:.4s;
}

#porcentaje{
text-align:center;
color:#4d8fc3;
font-weight:bold;
}
label{
display:block;
text-align:left;
padding:12px;
margin-top:10px;
background:#f4fbff;
border-radius:15px;
font-size:17px;
}

input[type="checkbox"]{
transform:scale(1.4);
margin-right:12px;
}
.menu{
    margin-top:25px;
}

.opcion{
    display:flex;
    align-items:center;
    gap:15px;
    background:#f7fcff;
    border-radius:18px;
    padding:15px;
    margin-bottom:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.emoji{
    font-size:35px;
}

.opcion h3{
    margin:0;
    color:#4aa3ff;
}

.opcion p{
    margin:5px 0 0;
    color:#666;
    font-size:14px;
}
